.idea/
.envrc
node_modules/
.DS_Store
.history
stencil/.tplconfig

# output
lib/**/*.js
commands/**/*.js
actions/**/*.js
bin/**/*.js
utils/**/*.js
component/**/*.js
ui/**/*.js
lib/**/*.d.ts
commands/**/*.d.ts
actions/**/*.d.ts
bin/**/*.d.ts
utils/**/*.d.ts
component/**/*.d.ts
ui/**/*.d.ts